/*CSS*/
html {
	width: 100%;
	height: 100%;
}
body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	height: 100%;
	font-size: 16px;
}
video {
	height: 590px;
	object-fit: cover;
	left: 0;
	top: 0;
	z-index: -1;
	transform: translate(0%, -30%);
	position: relative;
	-moz-transform: translate(0%, 0%);
}
.navbar {
	background-color: transparent;
	border-color: transparent;
	position: absolute;
	right: 0;
	z-index: 9999;
}
.navbar-default .navbar-nav>li>a,
.navbar-default .navbar-nav>li>a:hover {
	color: #fff;
}
.navbar-nav>li>a {
	padding-bottom: 0;
}
.navbar-default .navbar-nav>li a::after,
.register_button button::after,
.login_button button::after{
	content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #fff;
	transition: width .3s;
}
.navbar-default .navbar-nav>li a:hover::after,
.register_button button:hover::after,
.login_button button:hover::after {
    width: 100%;
    //transition: width .3s;
}

.video_start {
	width: 100%;
	height: 450px;
	position: relative;
	top: 0;
}

.row {
	margin: 0;
}
.category_img {
	width: 100%;
	height: 450px;
	position: relative;
	top: 0;
	z-index: -1;
	object-fit: cover
}

.post_image {
	width: 100%;
}
.prava {
	text-align: center;
	background-color: #0178BC;
	color: #fff;
	padding: 10px;
}

/*modal*/
.login_button {
	position: absolute;
	z-index: 9999;
	top: 16px;
}
	.login_button button {
		color: #fff;
		border-color: transparent;
		background-color: transparent;
	}

.register_button {
	position: absolute;
	z-index: 9999;
	top: 16px;
	left: 80px;
}	
	.register_button button {
		color: #fff;
		border-color: transparent;
		background-color: transparent;
	}
	.modal {
		top:40px;
		left: 10px;
		right: initial;
	}
	.modal-backdrop {
	    position: fixed;
	    top: 0;
	    right: 0;
	    bottom: 0;
	    left: 0;
	    z-index: 1040;
	    background-color: transparent !important;
	}
	.modal-dialog {
		width: 400px;
	}
.locationmodal {
	top:0;
	right:0;
	left:0;
}
/*-----------------------------*/
.btn-default {
	border: 2px solid #0178BC;
}

.btn-default:hover {
	background-color: #0178BC;
	color: #fff;
	border: 2px solid #0178BC;
}

/*Single day*/
.single_day_header {
	width: 100%;
	height: 280px;
	background-color: #0178BC;
	color: #fff;
}
	.single_day_header p {
		text-align: center;
		font-size: 70px;
		padding-top: 70px;
	}
	.single_day_header hr {
		width: 30%;
	}
	.single_day_image img {
		min-height: 150px;
		height: 100%;
		width: 100%;
		object-fit: cover;
	}
	.single_day_location {
		min-height: 150px;
	}
	.single_day_content {
		min-height: 150px;
		margin-top: 10px;
		margin-bottom: 10px;
		color: #0178BC;
	}
	.single_day_location button {
		position: absolute;
		right: 80px;
		bottom: 0;
		width: 80px;
	}
		.single_day_location .delete {
			top: 0;
			bottom: inherit;
		}
		.single_day_location .edit {
			top: 40px;
			bottom: inherit;
		}
	.single_day_description a {
		text-decoration: none;
		color: #0178BC;
	}
	.single_day_description p {
		font-size: 15px;
	}

/*Kategorije na naslovnoj */
.news_image {
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.category_fun {
	margin-top: 30px;
	text-align: center;
	background-color: #014F7C;
	color: #fff;
	padding: 10px;
	width: 100%;
	}
		.category_fun a  {
		font-size: 40px;
		text-decoration: none;
		color: #fff;
	}

		.category_fun_news {
			margin: 20px;
			width: 30%;
			height: 380px;
		}

			.category_fun_news a {
				text-decoration: none;
			}
			.category_fun_news h1 {
				padding: 10px;
				background-color: rgba(1, 79, 124, 0.8);
				color: #fff;
				font-size: 30px;
				width: 70%;
				margin-top: 0;
			}

			.category_fun_news p {
				background-color: rgba(1, 79, 124, 0.8);
				color: #fff;
				padding: 10px;
			}

			.category_fun_news .more {
				background-color: rgba(1, 79, 124, 0.8);
				color: #fff;
				padding: 10px;
				position: absolute;
				right: 0;
				bottom: 10px;
				text-decoration: none;
			}
			.category_fun_news .more::after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
				transition: width .3s;
			}
			.category_fun_news .more:hover::after {
			    width: 100%;
			    //transition: width .3s;
			}
.category_sport {
	margin-top: 30px;
	text-align: center;
	background-color: #0180C9;
	color: #fff;
	padding: 10px;
	width: 100%;
	}
		.category_sport a  {
		font-size: 40px;
		text-decoration: none;
		color: #fff;
	}

		.category_sport_news {
			margin: 20px;
			width: 30%;
			height: 380px;
		}

			.category_sport_news a {
				text-decoration: none;
			}

			.category_sport_news h1 {
				padding: 10px;
				background-color: rgba(1, 128, 201, 0.8);
				color: #fff;
				font-size: 30px;
				width: 70%;
				margin-top: 0;
			}

			.category_sport_news p {
				background-color: rgba(1, 128, 201, 0.8);
				color: #fff;
				padding: 10px;
			}

			.category_sport_news .more {
				background-color: rgba(1, 128, 201, 0.8);
				color: #fff;
				padding: 10px;
				position: absolute;
				right: 0;
				text-decoration: none;
				bottom: 10px;
			}
			.category_sport_news .more::after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
				transition: width .3s;
			}
			.category_sport_news .more:hover::after {
			    width: 100%;
			    //transition: width .3s;
			}
.category_health {
	margin-top: 30px;
	text-align: center;
	background-color: #0168A2;
	color: #fff;
	padding: 10px;
	width: 100%;
	}
		.category_health a  {
		font-size: 40px;
		text-decoration: none;
		color: #fff;
	}
		.category_health_news {
			margin: 20px;
			width: 30%;
			height: 380px;
		}
			.category_health_news a {
				text-decoration: none;
			}
			.category_health_news h1 {
				padding: 10px;
				background-color: rgba(1, 104, 162, 0.8);
				color: #fff;
				font-size: 30px;
				width: 70%;
				margin-top: 0;
			}

			.category_health_news p {
				background-color: rgba(1, 104, 162, 0.8);
				color: #fff;
				padding: 10px;
			}

			.category_health_news .more {
				background-color: rgba(1, 104, 162, 0.8);
				color: #fff;
				padding: 10px;
				position: absolute;
				right: 0;
				text-decoration: none;
				bottom: 10px;
			}
			.category_health_news .more::after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
				transition: width .3s;
			}
			.category_health_news .more:hover::after {
			    width: 100%;
			    //transition: width .3s;
			}

.category_work {
	margin-top: 30px;
	text-align: center;
	background-color: #00273C;
	color: #fff;
	padding: 10px;
	width: 100%;
	}
		.category_work a  {
		font-size: 40px;
		text-decoration: none;
		color: #fff;
	}

		.category_work_news {
			margin: 20px;
			width: 30%;
			height: 380px;
		}
			.category_work_news a {
				text-decoration: none;
			}
			.category_work_news h1 {
				padding: 10px;
				background-color: rgba(0, 39, 60, 0.8);
				color: #fff;
				font-size: 30px;
				width: 70%;
				margin-top: 0;
			}

			.category_work_news p {
				background-color: rgba(0, 39, 60, 0.8);
				color: #fff;
				padding: 10px;
			}

			.category_work_news .more {
				background-color: rgba(0, 39, 60, 0.8);
				color: #fff;
				padding: 10px;
				position: absolute;
				right: 0;
				text-decoration: none;
				bottom: 10px;
			}
			.category_work_news .more::after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
				transition: width .3s;
			}
			.category_work_news .more:hover::after {
			    width: 100%;
			    //transition: width .3s;
			}

.category_culture {
	margin-top: 30px;
	text-align: center;
	background-color: #0593C9;
	color: #fff;
	padding: 10px;
	width: 100%;
	}
		.category_culture a {
		font-size: 40px;
		text-decoration: none;
		color: #fff;
	}
		.category_culture_news {
			margin: 20px;
			width: 30%;
			height: 380px;
		}
			.category_culture_news a {
				text-decoration: none;
			}
			.category_culture_news h1 {
				padding: 10px;
				background-color: rgba(5, 147, 201, 0.8);
				color: #fff;
				font-size: 30px;
				width: 70%;
				margin-top: 0;
			}

			.category_culture_news p {
				background-color: rgba(5, 147, 201, 0.8);
				color: #fff;
				padding: 10px;
			}

			.category_culture_news .more {
				background-color: rgba(5, 147, 201, 0.8);
				color: #fff;
				padding: 10px;
				position: absolute;
				right: 0;
				text-decoration: none;
				bottom: 10px;
			}
			.category_culture_news .more::after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
				transition: width .3s;
			}
			.category_culture_news .more:hover::after {
			    width: 100%;
			    //transition: width .3s;
			}

.category_school {
	margin-top: 30px;
	text-align: center;
	background-color: #0F448A;
	color: #fff;
	padding: 10px;
	width: 100%;
}
	.category_school a {
		font-size: 40px;
		text-decoration: none;
		color: #fff;
	}

		.category_school_news {
			margin: 20px;
			width: 30%;
			height: 380px;
		}
			.category_school_news a {
				text-decoration: none;
			}

			.category_school_news h1 {
				padding: 10px;
				background-color: rgba(15, 68, 138, 0.8);
				color: #fff;
				font-size: 30px;
				width: 70%;
				margin-top: 0;
			}

			.category_school_news p {
				background-color: rgba(15, 68, 138, 0.8);
				color: #fff;
				padding: 10px;
			}

			.category_school_news .more {
				background-color: rgba(15, 68, 138, 0.8);
				color: #fff;
				padding: 10px;
				position: absolute;
				right: 0;
				text-decoration: none;
				bottom: 10px;
			}
			.category_school_news .more::after {
				content: '';
			    display: block;
			    width: 0;
			    height: 2px;
			    background: #fff;
				transition: width .3s;
			}
			.category_school_news .more:hover::after {
			    width: 100%;
			    //transition: width .3s;
			}

/*Single category*/
.single_category_title {
	width: 100%;
	text-align: center;
	color: #fff;
	background-color: #0178BC;
	margin-top: -70px;
	z-index: 9999;
	padding: 5px 0;
}

.content h2 {
	text-align: center;
	color: #0178BC;
}

.calendar {
	margin: 20px auto 40px;
	width: 90%;

}
	.calendar a {
		color: #0178BC;
	}

/*Single post*/
.single_post {
	width: 100%;
	height: 280px;
	background-color: #0178BC;
	color: #fff;
}
	.single_post h1 {
		text-align: center;
		font-size: 50px;
		padding-top: 130px;
		margin-top: 0;
	}

	.single_post_content {
		margin-top: 50px;
	}
		.single_post_content img {
			width: 100%;
			height: auto;
		}

	.single_post_description {
		padding-left: 40px;
		color: #0178BC;
		font-size: 17px;
	}
	.single_post_location {
		margin-top: 20px;
	}
	.single_post_location_title {
		text-align: center;
		background-color: #0178BC;
		color: #fff;
		padding: 10px;
	}
#map {
	width: 100%;
	height: 100%;
	left: 16%;
}
.content_index {
	margin-top: -40px;
	z-index: 9999;
}
/*Dodavanje događaja*/
.dodaj_dogadaj {
	margin-top: 30px;
}
.select_street {
	display: inline-flex;
}
	.select_street select {
		width: 70%;
	}
	.select_street input {
		width: 25%;
		margin-left: 5%;
	}
	.date {
		width: 30%;
	}
	.ui-widget-header,
	.ui-datepicker-calendar {
		background-color: rgba(1, 120, 188, 0.9);
		color: #fff;
		width: 300px;
	}
	.ui-datepicker-calendar a,
	.ui-widget-header a {
		color: #fff;
		text-decoration: none;
	}
.single_post_content img {
	object-fit: cover;
}

@media(max-width: 1670px) {
	.content_index {
		margin-top: -80px;
	}
}

@media(max-width: 1520px) {
	.content_index {
		margin-top: -150px;
	}
}


@media(max-width: 1280px) {
	.content_index {
		margin-top: -220px;
	}
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		width: 28%;
	}

	.category_fun_news h1,
	.category_sport_news h1,
	.category_health_news h1,
	.category_work_news h1,
	.category_culture_news h1,
	.category_school_news h1 {
		width: 90%;
		font-size: 25px;
	}
	.category_fun a,
	.category_sport a,
	.category_health a,
	.category_work a,
	.category_culture a,
	.category_school a {
		font-size: 35px;
	}
}
@media(max-width: 1024px) {
	video {
		height: 340px;
	}
	.category_img {
		height: 390px;
	}
	.content_index {
		margin-top: -60px;
	}
}

@media(max-width: 991px) {
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		float: left;
	}
	.content_index {
		margin-top: -100px;
	}
	.single_day_image {
		width: 25%;
		float: left;
	}
	.single_day_description {
		width: 62%;
		float: left;
	}
	.single_day_location {
		width: 12%;
		float: left;
	}
	.single_day_location button {
		right: 0;
	}
}

@media(max-width: 900px) {
	.category_fun_news h1, 
	.category_sport_news h1, 
	.category_health_news h1, 
	.category_work_news h1, 
	.category_culture_news h1, 
	.category_school_news h1 {
		font-size: 22px;
	}
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		margin: 20px 10px;
		width: 30%;
	}
}


@media(max-width: 767px) {
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		background-color: rgba(1, 120, 188, 0.8);
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: rgba(1, 120, 188, 0.5);
	}
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #fff;
	}
	.navbar-default .navbar-toggle {
		border-color: #fff;
	}
	.navbar-default .navbar-collapse, .navbar-default .navbar-form {
		border-color: transparent;
	}
	.content_index {
		margin-top: -150px;
	}
	.category_img {
		height: 330px;
	}
}

@media(max-width: 640px) {
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		width: 92%;
	}
	.single_day_location,
	.single_day_image,
	.single_day_description {
		width: 100%;
	}
	.single_day_location {
		min-height: 40px;
	}
	.single_day_location button {
		right: 10px;
	}
	.single_day_header {
		height: 250px;
	}
	.single_day_header p {
		font-size: 60px;
		padding-top: 60px;
	}
}

@media(max-width: 500px) {
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		width: 90%;
	}
}

@media(max-width: 414px) {
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		width: 88%;
	}
}

@media(max-width: 360px) {
	.category_fun_news,
	.category_sport_news,
	.category_health_news,
	.category_work_news,
	.category_culture_news,
	.category_school_news {
		width: 92%;
		margin: 20px 0;
	}
}